section{
    width: 700px;
    height: 700px;
}

div{
    position: absolute;
    top: 0;
    left: 0;
}

div:nth-of-type(1){
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    animation: animation 4s linear 0s infinite;
}

div:nth-of-type(2){
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    animation: animation 4s linear 1s infinite;
}

div:nth-of-type(3){
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    animation: animation 4s linear 2s infinite;
}

div:nth-of-type(4){
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    animation: animation 4s linear 3s infinite;
}



@keyframes animation{
    0%{
        transform: translate(0);
    }

    25%{
        transform: translate(700%, 0);
        background-color: purple;
    }

    50%{
        transform: translate(700%, 700%);
        background-color: blue;
    }

    75%{
        transform: translate(0, 700%);
        background-color: green;
    }

    100%{
        transform: translate(0, 0);
    }
}